.container{
    border: 1px black dotted;
    border-radius: 8px;
    width: 35%;
    background-color: rgb(230, 222, 222);
    display: inline-block;
    color:rgb(48, 47, 47)
}
img {
    margin-top: 25px;
    display: inline;
    margin-right: 200px;
}
.text{
    color: rgb(228, 222, 222);
    display: inline;
    margin-right: 200px;
}
span{
  color:gray;
}